.git
.gitignore
.github
dist
node_modules

*.log
npm-debug.log*

pids
*.pid
*.seed
*.pid.lock

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.example

Dockerfile*
.dockerignore
docker

README.md
.vscode
.editorconfig

config/mcp-inspector
