.git
.gitignore
.github
dist
node_modules

logs
*.log
npm-debug.log*

pids
*.pid
*.seed
*.pid.lock

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

Dockerfile*
.dockerignore

README.md
.vscode
.editorconfig
